@import url("https://use.typekit.net/dno4axc.css");
:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  background: linear-gradient(180deg, #000 0, #2e2e2e 300px, #000 1000px);
  line-height: 1.6;
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  color: #777;
  margin: 0 auto;
  position: relative;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: scroll;
}

.wrapper {
  scroll-snap-align: start;
}

/******************************* Nav-Section *********************************/
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  margin: 0 auto;
  min-height: 18rem;
  z-index: 2;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
  z-index: 100;
}

hr {
  border: 0;
  height: 0;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.18);
}

.logo-area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 1695px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.logo-area h6 {
  font-family: "Playfair Display", serif;
  color: #d8d7d7;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
}

.logo {
  width: 8rem;
  height: 7rem;
}

.logo-sub {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1695px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  list-style: none;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

ul .nav-links-item-1a {
  text-decoration: none;
  list-style: none;
}

.nav-links-item-1 {
  text-decoration: none;
  margin-right: 2rem;
  color: #fff;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.icon-box-x {
  fill: #999999;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.icon-box-x:hover {
  fill: #fff;
}

.float-nav {
  position: fixed;
  height: 23.4rem;
  width: 6rem;
  background-color: #57cdf5;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  z-index: 5001;
}

@media (max-width: 860px) {
  .float-nav {
    display: none;
  }
}

/******************************* Carousel-item  *********************************/
header {
  position: relative;
  width: 100vw;
}

.carousel {
  max-width: 1695px;
  margin: 0 auto;
}

.carousel-indicators li {
  width: 60px;
}

.carousel-item {
  height: 70vh;
  width: 100%;
  background-color: black;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  cursor: pointer;
}

.container-title-sub {
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  cursor: pointer;
}

.container-title-sub h1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: initial;
}

@media (max-width: 1280px) {
  .container-title-sub h1 {
    font-size: 3rem;
  }
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.dotm {
  display: block;
  background: url(https://media.giphy.com/media/5l3lJzA8zVMqc/giphy.gif) no-repeat;
  /* change with the image URL */
  background-size: cover;
}

.dotm-overlay {
  background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
  width: 100%;
  height: 70vh;
  /*height of the image*/
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

h2 {
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4.8rem;
  color: #000000;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: initial;
}

@media (max-width: 1280px) {
  h2 {
    font-size: 3rem;
  }
}

/****************************************************************/
/**************************   Headings **************************/
/****************************************************************/
#color {
  color: #000;
}

#text-align {
  text-align: start;
}

/*----------------SECTION MODELS-------------------*/
.models {
  padding: 10rem 4rem;
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 100vh;
  max-width: 1695px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
}

.models-content-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #ddd;
}

.models-content-top-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  width: 100%;
}

.models-content-down {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.models-content-down-left {
  background-color: #f8f8f8;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 4rem 1rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .models-content-down-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    width: 100%;
    padding: 2rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.models-content-down-right {
  background-color: #f8f8f8;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.models-content-down-right::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1280px) {
  .models-content-down-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

@media (max-width: 1280px) {
  .models-content-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hatchbacks,
.hatchbacks-1 {
  width: 100%;
  margin: 1rem auto;
  border: 0;
  height: 0;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.18);
}

@media (min-width: 1280px) {
  .hatchbacks-1 {
    display: none;
  }
}

/*----------------------------------------------------------------*/
.car-models-row {
  padding: 4rem 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car-models-row-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: initial;
  color: #b5b2b2;
}

.car-models-row-content,
.car-models-row-content-1,
.car-models-row-content-2,
.car-models-row-content-3,
.car-models-row-content-4,
.car-models-row-content-5,
.car-models-row-content-6,
.car-models-row-content-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-models-row-content-aClass,
.car-models-row-content-1-aClass,
.car-models-row-content-2-aClass,
.car-models-row-content-3-aClass,
.car-models-row-content-4-aClass,
.car-models-row-content-5-aClass,
.car-models-row-content-6-aClass,
.car-models-row-content-7-aClass {
  height: 40rem;
  width: 35rem;
  margin: 1rem;
  background-color: rgba(238, 111, 14, 0.803);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1530px) {
  .car-models-row-content-aClass,
  .car-models-row-content-1-aClass,
  .car-models-row-content-2-aClass,
  .car-models-row-content-3-aClass,
  .car-models-row-content-4-aClass,
  .car-models-row-content-5-aClass,
  .car-models-row-content-6-aClass,
  .car-models-row-content-7-aClass {
    height: 40rem;
    width: 35rem;
  }
}

@media (max-width: 863px) {
  .car-models-row-content-aClass,
  .car-models-row-content-1-aClass,
  .car-models-row-content-2-aClass,
  .car-models-row-content-3-aClass,
  .car-models-row-content-4-aClass,
  .car-models-row-content-5-aClass,
  .car-models-row-content-6-aClass,
  .car-models-row-content-7-aClass {
    width: 100%;
    margin: 2rem 0;
  }
}

.car-models-row-content-aClass-title,
.car-models-row-content-1-aClass-title,
.car-models-row-content-2-aClass-title,
.car-models-row-content-3-aClass-title,
.car-models-row-content-4-aClass-title,
.car-models-row-content-5-aClass-title,
.car-models-row-content-6-aClass-title,
.car-models-row-content-7-aClass-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.car-models-row-content-aClass-title-item-1 span,
.car-models-row-content-1-aClass-title-item-1 span,
.car-models-row-content-2-aClass-title-item-1 span,
.car-models-row-content-3-aClass-title-item-1 span,
.car-models-row-content-4-aClass-title-item-1 span,
.car-models-row-content-5-aClass-title-item-1 span,
.car-models-row-content-6-aClass-title-item-1 span,
.car-models-row-content-7-aClass-title-item-1 span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1;
  font-size: 2.4rem;
  color: #000000;
}

.car-models-row-content-aClass-title-item-2,
.car-models-row-content-1-aClass-title-item-2,
.car-models-row-content-2-aClass-title-item-2,
.car-models-row-content-3-aClass-title-item-2,
.car-models-row-content-4-aClass-title-item-2,
.car-models-row-content-5-aClass-title-item-2,
.car-models-row-content-6-aClass-title-item-2,
.car-models-row-content-7-aClass-title-item-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Sans-serif;
  color: #999999;
}

.car-models-row-content-aClass-title-item-3 span,
.car-models-row-content-1-aClass-title-item-3 span,
.car-models-row-content-2-aClass-title-item-3 span,
.car-models-row-content-3-aClass-title-item-3 span,
.car-models-row-content-4-aClass-title-item-3 span,
.car-models-row-content-5-aClass-title-item-3 span,
.car-models-row-content-6-aClass-title-item-3 span,
.car-models-row-content-7-aClass-title-item-3 span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  padding: 0.2rem 1.2rem;
  margin: 4px 0 8px 0;
  color: #666666;
  border: 1px solid #292828;
  border-radius: 8rem;
  text-align: center;
}

.car-models-row-content-aClass-img,
.car-models-row-content-1-aClass-img,
.car-models-row-content-2-aClass-img,
.car-models-row-content-3-aClass-img,
.car-models-row-content-4-aClass-img,
.car-models-row-content-5-aClass-img,
.car-models-row-content-6-aClass-img,
.car-models-row-content-7-aClass-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------------------------------------------------------*/
.car-list-icons {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1280px) {
  .car-list-icons {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
  }
}

@media (max-width: 1000px) {
  .car-list-icons {
    width: 90%;
  }
}

@media (max-width: 825px) {
  .car-list-icons {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .car-list-icons svg {
    display: none;
  }
}

.car-list-icon-one {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: initial;
  color: #b5b2b2;
  list-style: none;
  text-decoration: none;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .car-list-icon-one {
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .car-list-icon-one {
    color: red;
  }
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: transparent;
  color: #999999;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

button:hover {
  color: #00adef;
}

svg:hover {
  width: 52;
  height: 27;
  fill: #00adef;
}

.btn-car-1 {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .btn-car-1 {
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) {
  .btn-car-1::before {
    position: absolute;
    content: "";
    border: 1px solid #b5b2b2;
    width: 8rem;
    top: -25%;
    right: -20%;
  }
}

.models-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40rem;
  width: 100%;
  height: 6rem;
  text-align: center;
}

.models-links-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  width: 12.5rem;
  height: 6rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  border: 1px solid #d5d2d2;
  background-color: white;
}

@media (max-width: 1280px) {
  .models-links-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0 2rem;
  }
}

@media (max-width: 1280px) {
  .models-links-item {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .models-links-item:nth-child(2),
  .models-links-item:nth-child(3) {
    display: none;
  }
}

.models-links-item:hover {
  background-color: #b6b5b5;
  cursor: pointer;
}

#bgClr {
  background-color: #1a1a1a;
  cursor: default;
}

.models-content-top-models {
  width: 100%;
}

.models-content-top-models .models-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

li {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: normal;
  text-transform: initial;
  color: #dcd7d7;
  list-style: none;
  text-decoration: none;
  cursor: inherit;
}

/****************************************************************/
/**************************  header **************************/
/******************************** FOOTER ********************************/
footer {
  scroll-snap-align: start;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1695px;
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-footer-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-footer-1 p {
  width: 65%;
  text-align: center;
  font-weight: 300;
  color: #ddd9d9;
  margin-bottom: 5rem;
}

.nav-footer li {
  font-family: "monument extended";
  color: #ddd9d9;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 12rem;
}

#copy {
  margin-top: 4rem;
}

.logo-footer {
  width: 8rem;
  border-bottom: none;
  border: none;
}

/*-------------------------LOGIN PAGE---------------------------------------*/
.container-login {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/css/img/testdrive.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-area {
  background-color: rgba(255, 255, 255, 0);
  width: 665px;
  height: 682px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-area-me {
  background-color: #000000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.login-area-id {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-area-id h6 {
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
}

.login-area-form {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-area-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  width: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fields {
  background-color: #ffffff00;
  width: 60rem;
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fields label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  color: #333333;
  text-transform: initial;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .fields label {
    font-size: 1.2rem;
  }
}

.fields input[type="checkbox"],
.fields input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

textarea {
  padding: 1rem 6rem;
  width: 100%;
}

.fields input[type="text"]:invalid,
.fields input[type="password"]:invalid,
.fields input[type="email"]:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fields input[type="text"],
.fields input[type="password"],
.fields input[type="email"],
select {
  height: 4rem;
  width: 45rem;
  min-width: 20rem;
  max-width: 100%;
  margin-bottom: 2rem;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  color: #333333;
}

.fields input[type="text"]:focus,
.fieldsinput[type="password"]:focus,
.fields input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #0b5e3e8a;
}

.fields input[type="checkbox"]:focus + label:before,
.fields input[type="radio"]:focus + label:before {
  border-color: #18bfef;
}

.form:focus {
  outline: none;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  border-bottom: 3px solid #ddd;
}

.btn-blue,
.btn-dark {
  margin: 2px 2px 2px 0px;
  padding: 8px 14px 8px 26px;
  border: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #00adef;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

.btn-blue:focus,
.btn-dark:focus {
  outline: none;
}

.btn-dark {
  background-color: #333333;
}

.icon-box-login {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.nav-links-login,
.nav-links-login-1 {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-family: sans-serif;
  color: #00adef;
  font-size: 1.4rem;
  letter-spacing: 0px;
  text-transform: initial;
}

.nav-links-login-1 {
  color: #333333;
}

.test {
  width: 100vw;
  height: 100vh;
}

.legal-notes {
  background-color: #f8f8f8;
  max-width: 1695px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.btn-car:active, .btn-car:focus {
  outline: none;
}
/*# sourceMappingURL=hero.css.map */