
/******************************** POPUP 👇*******************************/

.popup {
    height: 100%;
    max-width: 1695px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(14, 13, 13, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
  }
  
  .popup:target {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s;
  }
  .popup-close {
    text-decoration: none;
  }
  
  .popup-close:link,
  .popup-close:visited {
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    text-align: center;
    z-index: 100;
  }
  .popup-close:hover {
    color: rgba(18, 184, 115, 0.568);
  }
  
  .popup:focus {
    outline: none;
  }
  
  .popup-content {
    // width: 1695px;
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #262626;
    &-container {
      flex: 1;
      width: 1695px;
      max-height: 60vh;
      margin: 0 auto;
      border: none;
      background-color: #262626;
  
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      border: 5px solid red;
  
      // position: relative;
      // width: 100%;
  
      // height: 80%;
      // margin: auto;
      // border: 1px solid rgb(0, 255, 8);
    }
  }
  
  .main-img img,
  .imgs img {
    width: 100%;
  }
  
  .imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  // @keyframes fadeIn {
  //   to {
  //     opacity: 1;
  //   }
  // }
  
  // .fade-in {
  //   opacity: 0;
  //   animation: fadeIn 0.5s ease-in 1 forwards;
  // }
  
  // .borderBtm {
  //   border: 2px solid #57cdf5;
  //   width: 100%;
  // }
  // .popup-content {
  //   background-color: #fff;
  //   width: 100%;
  //   height: 60%;
  //   // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   border-radius: 2px;
  //   &-carousel-container {
  //     width: 100%;
  //     height: 100%;
  //     margin: auto;
  //     // border: 5px solid #fff;
  //     overflow: hidden;
  //     position: relative;
  //   }
  // }
  
  // .carousel-slide {
  //   display: flex;
  //   max-width: 1695px;
  //   height: 100%;
  // }
  
  // .img {
  //   width: 100%;
  // }
  
  // #prevBtn,
  // .icon-box-2 {
  //   position: absolute;
  //   top: 50%;
  //   z-index: 9999;
  //   left: 5%;
  //   font-size: 300px;
  //   width: 4rem;
  //   height: 5rem;
  //   fill: #fff;
  
  //   opacity: 0.9;
  //   cursor: pointer;
  // }
  // #nextBtn,
  // .icon-box-1 {
  //   position: absolute;
  //   top: 50%;
  //   z-index: 9999;
  //   right: 5%;
  //   font-size: 300px;
  //   width: 4rem;
  //   height: 5rem;
  //   fill: #ffffffd7;
  //   opacity: 0.9;
  //   cursor: pointer;
  // }
  /******************************** POPUP 👆*******************************/
  
  .used {